body{color: darkorange;background-color: black; font-size: large; font-family: 'Times New Roman', Times, serif;}
h1{color: grey;border: 1px solid white;}
h2{color: grey;border: 1px solid white; width: fit-content;font-weight: bolder;}
a:link{color: darkorange;}

body{color: blue;background-color: black;font-size: large; font-family: 'Times New Roman', Times, serif;}
h1{color: white;border: 1px solid blue;width: fit-content; font-weight: bold;}
h2{color: white;border: 1px solid blue;width: fit-content; font-weight: bold;}
a:link{color: white;}

body{color: darkred;font-size: larger;font-weight: bolder;width: fit-content;font-family: 'Times New Roman', Times, serif;}
h1{border: 1px solid darkred;}